@import '../abstract/variables';


#result-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-radius: 0px 0px 30px 30px;
    padding: 2rem;
    color: papayawhip;
    h3 {
        font-size: $text-size;
        font-weight: 500;
        color: $neutral-lavender;
        padding-bottom: 1.5rem;
    }
    .result-circle {
        background: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
        border-radius: 50%;
        width: 140px;
        height: 140px;
        h1 {
            padding-top: 20px;
            font-size: 55px;
            font-weight: 800;
        }
        p {
            font-weight: 500;
            color: $neutral-lavender;
        }
    }
    h2 {
        font-weight: 800;
        padding: 10px 0px 5px;
    }
    p {
        padding: 0rem 2rem;
        font-weight: 500;
        color: $neutral-lavender;
    }
}


@media (min-width: 600px) {
    #result-container {
        border-radius: 30px;
        height: 450px;
        width: 330px;
        h3{
            font-size: 20px;
            font-weight: 500;
            padding-bottom: 2rem;
        }
        .result-circle {
            width: 170px;
            height: 170px;
            h1 {
                padding-top: 30px;
            }
        }
        h2 {
            padding-top: 30px;
        }
        p {
            padding-top: .70rem;
        }
        
    }
}
