// Colors

$primary-color: hsl(0, 100%, 67%);
$secondary-color: hsl(39, 100%, 56%);
$tertiary-color: hsl(166, 100%, 37%);
$quaternary-color: hsl(234, 85%, 45%);

$neutral-white: hsl(0, 0%, 100%);
$neutral-blue: hsl(221, 100%, 96%);
$neutral-lavender: hsl(241, 100%, 89%);
$neutral-darkgray: hsl(224, 30%, 27%);


// Fonts
//weight: 500, 700, 800
$font: 'Hanken Grotesk', sans-serif;
$text-size: 1.12rem;